body{
    margin: 0;
    padding: 0;
   
}

h1{
    font-size: 70px;
    font-weight: 900; 
    font-family: 'Merriweather', serif;
}
h2{
    text-align: center;
    font-size: 50px;
}


.mission-color{
    color: #bd1e51;
}
h3{
    font-size: 40px;
    margin-left: 10px;
    }
p{
    font-size: 20px;
    margin-left: 10px;
    
    }
.flex-container{
    display: flex;
    width: 80%;
    margin: 5%;
}
.flex-item1{
    padding-right: 150px;
}
.flex-item1 .vertical-line{
    border-left: thick solid;
    height: 160px;
    border-color: #490b3d;
}
.flex-item2 img{
    width: 350px;
    margin-left: 10px;
}
.button{
    text-decoration: none;
    background-color: #4284f5;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.scroll-down{
    padding-top: 20px;
}

.mission-heading{
    text-align: center;
    font-size: 40px;
    color: #0d1324 ;
}
.year-clr{
    color: #b02e94 ;
}
.mission-items{
    display: flex; 
    width: 80%;
    padding: 10px;
    margin: 5%;
}
.mission-image{
    width: 200px;
    
}
.mission-item-1{
    background-color: #D6EAF8 ;
    margin-right: 20px;
    border-radius: 20px;   
}
.mission-item-2{
    background-color: #F9EBEA;
    margin-right: 20px;
    border-radius: 20px;
}
.mission-item-3{
    background-color: #FEF5E7 ;
    margin-right: 20px;
    border-radius: 20px;
}
.coding-section{
    display: flex;
    width: 80%;
    margin: 5%;
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px;

}
.coding-image img{
    width: 400px;
    padding-right: 100px;
    padding-left: 50px;
}
.coding-content h1{
    
    font-size: 40px;
    font-weight: 900;
}

.comminity-banner{
    display: flex;
    width: 80%;
    margin: 5%;
    padding-bottom: 50px;
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 250px;
   
}
.about-section{
    display: flex;
    padding-right: 100px;
    background-color: #566573 ;
    padding: 100px;
    text-align: center;
    color: white;
}
footer{
    margin-top: 0px;
    text-align: center;
    background-color: #090e27 ;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer-year{
    color: rgb(255, 64, 50);
}

